<section class="sobre-restaurante">
  <h2>Sobre o Restaurante</h2>
  <div class="sobre-container">
    <figure class="sobre-imagem">
      <img
        src="../../Assets/Galeria/Galeria6.jpg"
        alt="Imagem do Restaurante"
      />
    </figure>
    <article class="sobre-texto">
      <h3>Quem Somos</h3>
      <p>
        O Restaurante Exemplo nasceu com a missão de oferecer uma experiência
        gastronômica única, unindo pratos deliciosos, um ambiente acolhedor e um
        atendimento excepcional. Desde a sua fundação, nosso objetivo tem sido
        proporcionar aos nossos clientes uma verdadeira viagem de sabores.
      </p>

      <h3>Nossa História</h3>
      <p>
        Fundado em 2010, o Restaurante Exemplo começou como uma pequena
        lanchonete, mas logo conquistou o coração dos moradores locais pela
        qualidade dos pratos e o carinho com que tratamos cada um de nossos
        clientes. Ao longo dos anos, expandimos nosso cardápio e nossa
        estrutura, mantendo sempre o compromisso com a qualidade.
      </p>

      <h3>Missão</h3>
      <p>
        Nossa missão é proporcionar aos nossos clientes uma experiência
        gastronômica que desperte emoções e crie memórias inesquecíveis.
        Valorizamos a qualidade dos ingredientes, o sabor autêntico de nossas
        receitas e a satisfação dos nossos clientes.
      </p>

      <h3>Valores</h3>
      <ul>
        <li>
          <strong>Qualidade:</strong> Compromisso com a excelência em todos os
          nossos pratos.
        </li>
        <li>
          <strong>Atendimento:</strong> Oferecer um atendimento gentil e
          dedicado a cada cliente.
        </li>
        <li>
          <strong>Sustentabilidade:</strong> Utilizar ingredientes frescos e
          locais, respeitando o meio ambiente.
        </li>
        <li>
          <strong>Inovação:</strong> Estar sempre à frente com novas receitas e
          sabores.
        </li>
      </ul>
    </article>
  </div>
</section>
