/* Reset básico para garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e0f7fa; /* Azul claro */
  color: #004d40; /* Verde escuro */
  margin: 0;
  padding: 0;
}

header {
  background: #00796b; /* Verde escuro */
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f39c12;
}

main {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100ch;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para a tabela do relatório de pedidos */
.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.report-table th,
.report-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.report-table th {
  background-color: #34495e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.report-table td {
  background-color: #ecf0f1;
}

/* Cores diferentes para cada status */
.report-table td:nth-child(4) {
  font-weight: bold;
  text-align: center;
}

.report-table td:nth-child(4):contains("Entregue") {
  color: #27ae60;
}

.report-table td:nth-child(4):contains("Pronto") {
  color: #f39c12;
}

.report-table td:nth-child(4):contains("Produção") {
  color: #2980b9;
}

.report-table td:nth-child(4):contains("Solicitado") {
  color: #e74c3c;
}

/* Responsividade da tabela */
@media screen and (max-width: 768px) {
  .report-table {
    font-size: 0.9rem;
  }

  .report-table th,
  .report-table td {
    padding: 10px;
  }
}

/* Footer */
footer {
  background: #00796b;
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

footer p {
  margin-bottom: 10px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin: 0 10px;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer nav ul li a:hover {
  color: #f39c12;
}
