/* Reseta estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #e0f7fa; /* Azul claro */
  color: #004d40; /* Verde escuro */
}

/* Estilo do header */
header {
  background: #00796b; /* Verde escuro */
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #fff; /* Branco */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #b2dfdb; /* Verde claro */
  font-weight: bold;
  transition: color 0.3s ease; /* Efeito de transição */
}

nav a:hover {
  color: #fff; /* Branco ao passar o mouse */
}

/* Estilo para os modais */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed; /* Fixo na tela */
  z-index: 1; /* Fica acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo com transparência */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe; /* Fundo claro para o modal */
  margin: 15% auto; /* Margens automáticas para centralizar */
  padding: 20px; /* Espaçamento interno */
  border: 1px solid #888; /* Borda */
  width: 40%; /* Largura do modal */
  border-radius: 8px; /* Cantos arredondados */
}

/* Estilo para o botão de fechar no modal */
.close {
  color: #aaa; /* Cor do texto do botão de fechar */
  float: right; /* Flutua à direita */
  font-size: 28px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

.close:hover,
.close:focus {
  color: black; /* Cor ao passar o mouse */
  text-decoration: none; /* Sem sublinhado */
  cursor: pointer; /* Cursor pointer */
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5rem 0;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #00796b; /* Verde escuro */
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Efeito de transição */
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #004d40; /* Verde mais escuro */
  outline: none; /* Remove outline padrão */
}

button {
  padding: 0.7rem;
  background-color: #009688; /* Verde mais claro */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efeito de transição */
}

button:hover {
  background-color: #00796b; /* Verde escuro ao passar o mouse */
}

/* Estilo para a seção principal */
.kanbanMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100ch;
  justify-content: center;
  padding: 20px; /* Adiciona um espaçamento interno */
  background-color: #f4f4f4; /* Cor de fundo clara */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo para o botão de adicionar pedido */
#addOrderButton {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #28a745; /* Cor verde para o botão */
  color: white; /* Cor do texto do botão */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
  transition: background-color 0.3s; /* Transição suave */
}

#addOrderButton:hover {
  background-color: #218838; /* Cor mais escura ao passar o mouse */
}

/* Estilo para a tabela Kanban */
.kanban-board {
  display: flex;
  justify-content: space-between;
  width: 120ch; /* Para ocupar toda a largura do container */
  margin-top: 20px; /* Espaço acima da tabela */
  height: 40ch;
}

/* Estilo para as colunas do Kanban */
.kanban-column {
  background-color: #06fa88; /* Cor de fundo branca */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno */
  width: 23%; /* Largura das colunas */
  overflow: auto;
  box-shadow: 0 25px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border: solid 2px rgb(97, 99, 94);
}

/* Estilo para os itens do Kanban */
.kanban-item {
  background-color: #fff4e4; /* Cor de fundo dos itens */
  margin: 5px 0; /* Espaçamento entre os itens */
  padding: 10px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  display: flex; /* Usando flexbox para botões */
  justify-content: space-between; /* Espaco entre o texto e os botões */
  align-items: center; /* Alinhamento central */
  border: solid 2px #bbbab7;
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para os botões dentro dos itens */
.button-container {
  display: flex; /* Alinhando os botões horizontalmente */
}

.remove-button {
  border: none; /* Sem bordas */
  cursor: pointer; /* Cursor pointer */
  margin-left: 5px; /* Espaçamento entre os botões */
  color: #00e1ff; /* Cor azul */
  background-color: rgb(255, 0, 0);
}
.edit-button {
  border: none; /* Sem bordas */
  cursor: pointer; /* Cursor pointer */
  margin-left: 5px; /* Espaçamento entre os botões */
  color: #00e1ff; /* Cor azul */
  background-color: rgb(0, 255, 0);
}

.remove-button:hover {
  background-color: rgb(212, 5, 5);
}
.edit-button:hover {
  background-color: rgb(5, 200, 5);
}

/* Estilo do footer */
footer {
  background: #00796b; /* Verde escuro */
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.footer {
  margin-bottom: 1rem;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  display: inline;
  margin: 0 1rem;
}

footer nav a {
  color: #b2dfdb; /* Verde claro */
  text-decoration: none;
  transition: color 0.3s ease; /* Efeito de transição */
}

footer nav a:hover {
  color: #fff; /* Branco ao passar o mouse */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column; /* Alinha as colunas em coluna */
    width: 100%; /* Largura total */
  }

  .kanban-column {
    width: 100%; /* Largura total em telas pequenas */
    margin-bottom: 20px; /* Espaçamento entre colunas */
  }

  nav ul {
    display: flex;
    flex-direction: column; /* Muda a lista para coluna em telas menores */
    align-items: center; /* Centraliza os itens */
  }

  nav ul li {
    margin: 0.5rem 0; /* Espaçamento vertical entre os itens */
  }

  header {
    padding: 1rem 0; /* Reduz o padding */
  }

  .title {
    font-size: 2rem; /* Tamanho da fonte reduzido */
  }

  button {
    font-size: 0.9rem; /* Tamanho do botão reduzido */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem; /* Tamanho da fonte ainda menor */
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 0.9rem; /* Tamanho da fonte reduzido */
  }

  button {
    font-size: 0.8rem; /* Tamanho do botão reduzido */
  }
}
