<h2 class="titulo">Nosso Cardápio</h2>
<div class="cardapio-container">
  <div class="card">
    <img
      src="../../Assets/Cardapio/Bebidas.jpg"
      alt="Bebidas"
      class="card-img"
    />
    <h3>Bebidas</h3>
    <button class="btn-ver-mais">Ver Mais</button>
  </div>
  <div class="card">
    <img src="../../Assets/Cardapio/Pratos.jpg" alt="Pratos" class="card-img" />
    <h3>Pratos</h3>
    <button class="btn-ver-mais">Ver Mais</button>
  </div>
  <div class="card">
    <img
      src="../../Assets/Cardapio/MaisPedidos.jpg"
      alt="Mais Pedidos"
      class="card-img"
    />
    <h3>Mais Pedidos</h3>
    <button class="btn-ver-mais">Ver Mais</button>
  </div>
  <div class="card">
    <img
      src="../../Assets/Cardapio/Veganos.jpg"
      alt="Veganos"
      class="card-img"
    />
    <h3>Veganos</h3>
    <button class="btn-ver-mais">Ver Mais</button>
  </div>
</div>
