<h2>Próximos Eventos</h2>
<div class="eventos-container">
  <!-- Card 1 -->
  <div class="evento-card" id="evento1">
    <div class="evento-imagem">
      <img src="../../Assets/Evento/Prato.jpg" alt="Lançamento de Produto" />
    </div>
    <div class="evento-texto">
      <h3 class="evento-titulo">Lançamento de Produto</h3>
      <h4 class="evento-subtitulo">Evento Exclusivo</h4>
      <p class="evento-descricao">
        Participe do evento exclusivo de lançamento do nosso novo produto
        inovador. Não perca a chance de conhecer todas as novidades em primeira
        mão!
      </p>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="evento-card" id="evento2">
    <div class="evento-imagem">
      <img src="../../Assets/Evento/ExpoArt.jpg" alt="Exposição de Arte" />
    </div>
    <div class="evento-texto">
      <h3 class="evento-titulo">Exposição de Arte</h3>
      <h4 class="evento-subtitulo">Arte Moderna</h4>
      <p class="evento-descricao">
        Venha conferir a exposição de arte moderna na galeria X, com obras de
        artistas locais e internacionais. A exposição ficará aberta até o final
        do mês.
      </p>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="evento-card" id="evento3">
    <div class="evento-imagem">
      <img
        src="../../Assets/Evento/Gastronomico.jpg"
        alt="Festival Gastronômico"
      />
    </div>
    <div class="evento-texto">
      <h3 class="evento-titulo">Festival Gastronômico</h3>
      <h4 class="evento-subtitulo">Sabores Incríveis</h4>
      <p class="evento-descricao">
        Uma experiência gastronômica única, com pratos exclusivos preparados por
        chefs renomados. O festival acontecerá no próximo final de semana.
      </p>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="evento-card" id="evento4">
    <div class="evento-imagem">
      <img src="../../Assets/Evento/Show.jpg" alt="Show ao Vivo" />
    </div>
    <div class="evento-texto">
      <h3 class="evento-titulo">Show ao Vivo</h3>
      <h4 class="evento-subtitulo">Música ao Vivo</h4>
      <p class="evento-descricao">
        Venha se divertir com o nosso show ao vivo, com apresentações incríveis
        de bandas locais. O evento será realizado no próximo sábado.
      </p>
    </div>
  </div>
</div>
