/* Estilos gerais */
body {
  font-family: "Poppins", sans-serif;/* Define a fonte geral da página */
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
  box-sizing: border-box; /* Inclui padding e border na largura e altura dos elementos */
  background-color: #f0f8ff; /* Define a cor de fundo da página */
  display: flex; /* Usa o modelo de layout flexível */
  flex-direction: column; /* Alinha os itens no eixo vertical */
  min-height: 100vh; /* Garante que o body tenha pelo menos a altura da viewport */
}
/* Estilo do cabeçalho */
header {
  background-color: #333; /* Cor de fundo escura para o cabeçalho */
  text-align: center; /* Centraliza o texto no cabeçalho */
  display: flex; /* Usa o modelo de layout flexível para o cabeçalho */
  justify-content: space-between; /* Espaça entre título e botão */
  align-items: center; /* Alinha o conteúdo verticalmente no centro */
  padding: 1rem; /* Padding interno do cabeçalho */
}

.title {
  margin: 0; /* Remove a margem do título */
  color: white; /* Define a cor do texto do título como branca */
}

/* Botão do menu */
.menu-toggle {
  background: none; /* Sem fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  font-size: 2rem; /* Tamanho do ícone do menu */
  cursor: pointer; /* Cursor de ponteiro */
  display: none; /* Esconde o botão por padrão */
}

/* Navegação */
nav {
  display: flex; /* Usa o modelo de layout flexível para a nav */
}

nav ul {
  list-style-type: none; /* Remove os marcadores da lista */
  margin: 0; /* Remove a margem padrão da lista */
  padding: 0; /* Remove o padding padrão da lista */
  display: flex; /* Usa o modelo de layout flexível para a lista */
  gap: 2rem; /* Espaço entre os itens da lista */
}

nav ul li {
  display: inline; /* Exibe os itens da lista em linha */
}

nav ul li a {
  padding: 1rem; /* Padding interno dos links */
  text-decoration: none; /* Remove sublinhado */
  color: white; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  font-size: 1.3rem; /* Tamanho da fonte dos links */
  border-radius: 1rem; /* Bordas arredondadas */
  border: 0.1rem solid transparent; /* Borda transparente para manter o espaço reservado */
}

nav ul li a:hover {
  border-color: #464846; /* Muda a cor da borda no hover */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona sombra ao hover */
}
/* Seção Welcome */
#welcome {
  text-align: center; /* Centraliza o texto na seção Welcome */
  padding: 2rem; /* Adiciona padding interno na seção Welcome */
}

/* Estilo do Banner */
#banner img {
  width: 100%; /* Faz com que a imagem do banner ocupe toda a largura disponível */
  height: 25rem; /* Define a altura da imagem do banner */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}

/* Seção do Carrossel */
#carrossel {
  padding: 20px; /* Adiciona padding interno na seção do carrossel */
}

/* Estilo para o container das imagens do carrossel */
.container {
  display: flex; /* Usa o modelo de layout flexível para o container */
  width: 100%; /* Define a largura do container como 100% */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  flex-wrap: nowrap; /* Impede que os itens se movam para a linha seguinte */
  flex: 0 0 auto; /* Impede que o container encolha ou expanda */
  box-sizing: border-box; /* Inclui padding e border na largura e altura dos elementos */
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
  gap: 4rem; /* Espaço entre os itens do carrossel */
  padding: 10px; /* Adiciona padding interno no container */
}

figure {
  margin: 0; /* Remove a margem padrão dos elementos figure */
  position: relative; /* Posiciona os elementos internos de forma relativa */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do figure */
  border-radius: 1rem; /* Arredonda os cantos do figure */
  border: 0.2rem solid #45a049; /* Adiciona uma borda ao redor do figure */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor do figure */
}

img {
  width: 22rem; /* Define a largura das imagens dentro do picture */
  height: 16rem; /* Define a altura das imagens dentro do picture */
  transition: transform 0.2s ease-in-out; /* Transição para o efeito de escala */
}
img:hover {
  transform: scale(1.1); /* Aumenta a escala da imagem no hover */
}

figcaption {
  position: absolute; /* Posiciona o figcaption de forma absoluta dentro do figure */
  bottom: 0; /* Alinha o figcaption na parte inferior do figure */
  left: 0; /* Alinha o figcaption à esquerda do figure */
  right: 0; /* Alinha o figcaption à direita do figure */
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* Define o fundo do figcaption com uma cor preta semi-transparente */
  /* Define a cor do texto do figcaption como branca */
  padding: 10px; /* Adiciona padding interno ao figcaption */
  text-align: center; /* Centraliza o texto dentro do figcaption */
}

figcaption h3 {
  color: #fff; 
  font-size: 1rem; /* Define o tamanho da fonte do título dentro do figcaption */
  margin: 0; /* Remove a margem do título */
}

figcaption p {
  font-size: 0.8rem; /* Define o tamanho da fonte do parágrafo dentro do figcaption */
  margin: 5px 0 0; /* Adiciona uma margem ao parágrafo */
  color: #fff; 
}

/* Formulário */
#contato {
  padding: 4rem; /* Adiciona padding interno na seção de contato */
}

.icone {
  border-radius: 50%; /* Arredonda os cantos do ícone para criar um círculo */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor do ícone */
  width: 12rem; /* Define a largura do ícone */
  height: 12rem; /* Define a altura do ícone */
  object-fit: cover; /* Garante que o ícone cubra a área sem distorcer */
  display: block; /* Exibe o ícone como um bloco */
  margin: 0 auto; /* Centraliza o ícone horizontalmente */
}

.links {
  display: flex; /* Usa o modelo de layout flexível para os links */
  justify-content: center; /* Centraliza os links horizontalmente */
  padding: 2rem; /* Adiciona padding interno aos links */
  gap: 2rem; /* Espaço entre os links */
}

.iconelinks {
  border-radius: 50%; /* Arredonda os cantos dos ícones dos links para criar um círculo */
  width: 4rem; /* Define a largura dos ícones dos links */
  height: 4rem; /* Define a altura dos ícones dos links */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor dos ícones dos links */
  object-fit: cover; /* Garante que os ícones cubram a área sem distorcer */
  display: block; /* Exibe os ícones como blocos */
  margin: 0 auto; /* Centraliza os ícones horizontalmente */
}

.dados {
  display: flex; /* Usa o modelo de layout flexível para o container de dados */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  border: 0.2rem solid #45a049; /* Adiciona uma borda ao redor do container de dados */
  background-color: #dfe8f0; /* Define a cor de fundo do container de dados */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor do container de dados */
  border-radius: 1rem; /* Arredonda os cantos do container de dados */
  padding: 1rem; /* Adiciona padding interno ao container de dados */
  gap: 1rem; /* Espaço entre os itens dentro do container de dados */
}

.titleform {
  text-align: center; /* Centraliza o texto do título do formulário */
  margin-bottom: 2rem; /* Adiciona margem inferior ao título do formulário */
}

.informaContatos {
  width: 100%; /* Define a largura do formulário como 100% */
  padding: 2rem; /* Adiciona padding interno ao formulário */
  box-sizing: border-box; /* Inclui padding e border na largura e altura do formulário */
}

.mapa {
  padding: 2rem; /* Adiciona padding interno à seção do mapa */
}

.maps {
  width: 100%; /* Define a largura do mapa como 100% */
  height: 80%; /* Define a altura do mapa como 80% */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao redor do mapa */
  max-width: 100%; /* Garante que o mapa não ultrapasse a largura máxima */
  border-radius: 0.5rem; /* Arredonda os cantos do mapa */
  box-sizing: border-box; /* Inclui padding e border na largura e altura do mapa */
  border: 0.1rem solid #45a049; /* Adiciona uma borda ao redor do mapa */
}

form {
  width: 100%; /* Define a largura do formulário como 100% */
  display: flex; /* Usa o modelo de layout flexível para o formulário */
  flex-direction: column; /* Alinha os itens do formulário verticalmente */
  background-color: #dfe8f0; /* Define a cor de fundo do formulário */
  gap: 1rem; /* Espaço entre os campos do formulário */
  max-width: 100%; /* Garante que o formulário não ultrapasse a largura máxima */
  padding: 2rem; /* Adiciona padding interno ao formulário */
  border-radius: 0.5rem; /* Arredonda os cantos do formulário */
  box-sizing: border-box; /* Inclui padding e border na largura e altura do formulário */
}

label {
  font-weight: bold; /* Define o texto dos rótulos como negrito */
}

input,
textarea {
  padding: 0.5rem; /* Adiciona padding interno aos campos de entrada e textarea */
  font-size: 1rem; /* Define o tamanho da fonte dos campos de entrada e textarea */
  border-radius: 0.25rem; /* Arredonda os cantos dos campos de entrada e textarea */
  border: 0.1rem solid #ccc; /* Adiciona uma borda leve aos campos de entrada e textarea */
  box-sizing: border-box; /* Inclui padding e border na largura e altura dos campos de entrada e textarea */
}

textarea {
  width: 100%; /* Define a largura do textarea como 100% */
  resize: vertical; /* Permite que o textarea seja redimensionado verticalmente */
}

button {
  padding: 0.7rem; /* Adiciona padding interno ao botão */
  background-color: #4caf50; /* Define a cor de fundo do botão */
  color: white; /* Define a cor do texto do botão como branca */
  border: none; /* Remove a borda padrão do botão */
  width: 100%; /* Define a largura do botão como 100% */
  max-width: 12rem; /* Define a largura máxima do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  border-radius: 0.5rem; /* Arredonda os cantos do botão */
  font-size: 1rem; /* Define o tamanho da fonte do botão */
}

button:hover {
  background-color: #45a049; /* Altera a cor de fundo do botão quando o cursor está sobre ele */
}

/* Seção Sobre */
#sobre {
  text-align: center; /* Centraliza o texto na seção Sobre */
  padding: 2rem; /* Adiciona padding interno à seção Sobre */
}
/* Seção politica */
#politica {
  padding: 2rem; /* Adiciona padding interno à seção politica */
}
/* Seção termos */
#termos {
  padding: 4rem; /* Adiciona padding interno à seção termos */
}
/* Footer */
footer {
  background-color: #333; /* Cor de fundo escura para o cabeçalho */
  color: white;
  text-align: center; /* Centraliza o texto no cabeçalho */
  display: flex; /* Usa o modelo de layout flexível para o cabeçalho */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  gap: 10rem; /* Espaço entre os itens do cabeçalho */
  align-items: center; /* Alinha o conteúdo verticalmente no centro */
  padding: 1rem; /* Padding interno do cabeçalho */
}

/* Estilo da seção do Kanban */
#kanban {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  color: #333;
}
.footer {
  font-size: 1.5rem;
}

/* titulos pages*/
.titlePages {
  text-align: center;
}

/* Estilo dos parágrafos do footer */
.footer {
  margin: 0.5rem 0; /* Margem entre parágrafos */
}

/* Estilo da navegação do footer */
nav {
  margin: 1rem 0; /* Margem superior e inferior */
}

/* Estilo das listas do footer */
footer ul {
  list-style: none; /* Remove marcadores de lista */
  padding: 0; /* Remove padding padrão */
  display: flex; /* Alinha os itens em uma linha */
  justify-content: center; /* Centraliza os itens */
  flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

/* Estilo dos itens da lista */
footer li {
  margin: 0 1rem; /* Margem lateral entre os itens */
}

/* Estilo dos links */
footer a {
  color: #4caf50; /* Cor dos links */
  text-decoration: none; /* Remove sublinhado */
}

footer a:hover {
  text-decoration: underline; /* Sublinha ao passar o mouse */
}
@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
  }

  .kanban-column {
    width: 100%;
    margin-bottom: 20px;
  }
  header {

    gap: 2rem; /* Espaçamento entre os itens */
  }

  .menu-toggle {
    display: block; /* Mostra o botão do menu em telas menores */
  }

  nav {
    display: none; /* Esconde a navegação padrão */
    width: 100%; /* O nav ocupa toda a largura */
  }

  nav.active {
    display: block; /* Mostra a nav quando ativa */
    background-color: #333; /* Cor de fundo para o dropdown */
    position: absolute; /* Posiciona o dropdown corretamente */
    top: 60px; /* Ajuste conforme a altura do cabeçalho */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que o dropdown fique acima de outros elementos */
  }

  nav ul {
    flex-direction: column; /* Alinha os itens da lista em coluna */
    gap: 1rem; /* Espaço reduzido entre os itens */
  }

  nav ul li a {
    font-size: 1.1rem; /* Reduz o tamanho da fonte dos links */
    padding: 0.75rem; /* Diminui o padding dos links */
  }

  .titleform {
    font-size: 1.5rem; /* Reduz o tamanho da fonte do título do formulário em telas menores */
  }

  img {
    width: 100%; /* Ajusta a largura da imagem do carrossel para 100% em telas menores */
    height: auto; /* Ajusta a altura da imagem do carrossel para manter a proporção */
  }

  figcaption h3 {
    font-size: 1.25rem; /* Reduz o tamanho da fonte do título do figcaption em telas menores */
  }

  figcaption p {
    font-size: 1rem; /* Reduz o tamanho da fonte do parágrafo do figcaption em telas menores */
  }

  .container {
    gap: 2rem; /* Reduz o espaço entre os itens do carrossel em telas menores */
    overflow-x: visible; /* Remove a barra de rolagem horizontal em telas menores */
    flex-direction: column; /* Alinha os itens do carrossel verticalmente em telas menores */
    width: 100%; /* Ajusta a largura do container para 100% em telas menores */
  }

  .dados {
    flex-direction: column; /* Alinha os itens do container de dados verticalmente em telas menores */
    align-items: center; /* Centraliza os itens dentro do container de dados */
  }

  .maps {
    height: 15rem; /* Reduz a altura do mapa em telas menores */
  }
}
/* Responsividade */
@media (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%; /* Diminui o padding em telas pequenas */
    gap: 0;
  }

  footer ul {
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens */
  }

  footer li {
    margin: 0.5rem 0; /* Margem vertical entre os itens */
  }
}
@media (max-width: 480px) {
  .titleform {
    font-size: 1.25rem; /* Reduz ainda mais o tamanho da fonte do título do formulário em telas muito pequenas */
  }

  .icone {
    width: 10rem; /* Reduz a largura do ícone em telas muito pequenas */
    height: 10rem; /* Reduz a altura do ícone em telas muito pequenas */
  }

  .maps {
    height: 12rem; /* Reduz ainda mais a altura do mapa em telas muito pequenas */
  }
  .kanbanMain {
    height: 100ch;
  }
  .kanban-board {
    flex-direction: column;
    align-items: center;
  }

  .kanban-column {
    width: 100%;
    margin-bottom: 20px;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%; /* Diminui o padding em telas pequenas */
    gap: 0;
  }

  header {
    padding: 0.5rem; /* Diminui o padding do cabeçalho */
  }

  .title {
    font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
  }

  nav ul li a {
    font-size: 1rem; /* Reduz ainda mais o tamanho da fonte dos links */
    padding: 0.5rem; /* Diminui o padding dos links */
  }
}
